<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom nav-fixed">
    <div class="container nav-container">
        <a class="navbar-brand" href="#">
            <img src="assets/images/Alsco logo.svg" class="img-fluid img-logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mx-auto mb-2 mb-lg-0 me-0">
                <div class="nav-item mb-sm-2 jungherich">
                    <img src="assets/images/jungherich logo.svg" class="img-fluid nav-margin logo-mt" alt="">
                </div>
                <div>
                    <div class="nav-flex">
                        <div class=" nav-flex nav-item dropdown mb-sm-2 nav-margin">
                            <a class="nav-link form-control p-3 py-1 search-icon" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                000285 - Westrac Pty Ltd Test
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">100973 - Shoalhaven Heads Bowling Club (Ccare test
                                        location 1)</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">100973 - Shoalhaven Heads Bowling Club (Ccare test
                                        location 1)</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">100973 - Shoalhaven Heads Bowling Club (Ccare test
                                        location 1)</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">100973 - Shoalhaven Heads Bowling Club (Ccare test
                                        location 1)</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">000285 - Westrac Pty Ltd Test</a></li>
                            </ul>
                        </div>


                        <div class="nav-item dropdown ms-4 mb-sm-2 nav-margin ">
                            <a class="nav-link py-1" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="assets/images/shop.svg" class="img-fluid" alt="">
                            </a>
                            <ul class="dropdown-menu shop-dropdown" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Order Cart</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Service Cart</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Direct Sales cart</a></li>
                            </ul>
                        </div>


                        <div class="nav-margin">
                            <form class="d-flex align-items-center ms-3">

                                <div class="d-flex flex-grow-1 ms-2">

                                    <div>
                                        <a class="nav-link py-1 dropdown-toggle d-flex align-items-center" href="#"
                                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <div class="d-flex align-items-center w-100 justify-content-end">

                                                <div class="flex-shrink-0 me-2">
                                                    <img src="assets/images/Frame 19.png"
                                                        alt="Generic placeholder image" class="img-fluid rounded-circle"
                                                        style="width: 40px;">
                                                </div>
                                                <div class="d-flex flex-column align-items-start mb-0">
                                                    <p class="mb-0 me-2 username">John Smith</p>
                                                    <p class="mb-0 me-2 user_des">System Admin</p>
                                                </div>

                                            </div>
                                        </a>
                                        <ul class="dropdown-menu dropdown-right shop-dropdown"
                                            aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="#">Change Password</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="#">Contact Us</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="#">Attachments</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="#">Logout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>
</nav>